@model SearchViewModel

<section class="convert-area" id="convert">
    <div class="container">
        <div class="convert-wrap">
            <div class="row justify-content-center align-items-center flex-column pb-30">
                <h1 class="text-white">Search</h1>
                <p class="text-white">Search for a customer by Customer ID or by Name and/or City</p>
            </div>
            <div class="row justify-content-center align-items-start">
                <form asp-action="ShowCustomerBySearchId" asp-controller="Customer" method="post">
                    @*<div class="col-lg-2 cols-img">
                            <img class="d-block mx-auto" src="img/bitcoin.png" alt="">
                        </div>*@
                    <div class="col-lg-12 cols">
                        <input type="number" placeholder="Customer ID" class="form-control mb-20" asp-for="@Model.CustomerIdSearch">
                        <span style="color:red" asp-validation-for="@Model.CustomerIdSearch"></span>
                        @*<a href="#" class="primary-btn header-btn text-uppercase mb-20">Search by ID</a>*@
                        <button type="submit" asp-controller="Customer" asp-action="ShowCustomerBySearchId" class="primary-btn header-btn text-uppercase mb-10">Search by ID</button>
                    </div>
                </form>
                <form asp-action="ShowCustomerSearchResults" asp-controller="Customer" method="post">
                    <div class="col-lg-12 cols">
                        <input type="text" placeholder="Customer name" class="form-control mb-20" asp-for="@Model.CustomerNameSearch">
                        <span style="color:red" asp-validation-for="@Model.CustomerNameSearch"></span>
                        <input type="text" placeholder="City" class="form-control mb-20" asp-for="@Model.CustomerCitySearch">
                        <span style="color:red" asp-validation-for="@Model.CustomerCitySearch"></span>
                        @*<a href="#" class="primary-btn header-btn text-uppercase mb-20">Search by Name/City</a>*@
                        <button type="submit" asp-controller="Customer" asp-action="ShowCustomerSearchResults" class="primary-btn header-btn text-uppercase mb-30">Search by Name/City</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>